* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
   font-size: 100%;
}

body {
  min-height: 100vh;
  border: .5rem solid #000;
}

header {
  background-color: #000;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

nav, ul, header {
  padding: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

li {
  list-style-type: none;
  border: 5px solid black;
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
}

ul > li {
  color: rebeccapurple;
}

a {
  text-decoration: none;
}

li:hover {

  background: linear-gradient(#fff, #222);
}

a:hover {
    color: #fff;ation-line: underline;
  text-decoration-color: white;
}