body {
  text-align: center;
  background: url("bg.png");
  background-size: cover;
  background-position: center;
  color: white;
}

p,
input {
  font-family: hack;
}

img {
  width: 25%;
}

p {
  font-size: 22px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: #8a2be2;
  color: white;
}
